
<div class='backdrop backdrop-team backdrop-hidden'>
    <h2>Our team</h2>
    <section class='section-team '>
        <div class="default">
            <p class="team-name">Anatolii Mostovyi - Team lead</p>
            <div class="image-box">
                <div class="border"></div>
                <img class='photo' src="https://github.com/Anatoliy-Mostovoy">
                <div class="image-content">
                    <h3 class="image-header">Anatolii Mostovyi</h3>
                    <p>The ideal leader</p>
                    <a class="link-git" href="https://github.com/Ereyzer">
                        <svg class="icon-git">
                            <use href="./images/team/team.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="default">
            <p class="team-name">Ivan Tryhuba - Scrum master</p>
            <div class="image-box">
                <div class="border"></div>
                <img class='photo' src="https://github.com/ivantryhuba">
                <div class="image-content">
                    <h3 class="image-header">Ivan Tryhuba</h3>
                    <p>the Esthete</p>
                    <a class="link-git" href="https://github.com/Ereyzer">
                        <svg class="icon-git">
                            <use href="./images/team/team.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
        </div>        
        <div class="default" >
                <p class="team-name">Ivan Laver - Developer</p>
            <div class="image-box">
                <div class="border"></div>
                <img class='photo' src="./images/team/Ivan-Laver.jpg">
                <div class="image-content">
                    <h3 class="image-header">Ivan Laver</h3>
                    <p>"Picasso in JS"</p>
                    <a class="link-git" href="https://github.com/Ereyzer">
                        <svg class="icon-git">
                            <use href="./images/team/team.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
            </div>
        <div class="default">
            <p class="team-name">Tetiana Yarova - Developer</p>
            <div class="image-box">
                <div class="border"></div>
                <img class='photo' src="./images/team/tanya.jpg">
                <div class="image-content">
                    <h3 class="image-header">Tetiana Yarova</h3>
                    <p>Performer of complex tasks</p>
                    <a class="link-git" href="https://github.com/YarovaT">
                        <svg class="icon-git">
                            <use href="./images/team/team.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="default">
            <p class="team-name">Nikita Illin - Developer</p>
            <div class="image-box">
                <div class="border"></div>
                <img class='photo' src="./images/team/nikita.jpg">
                <div class="image-content">
                    <h3 class="image-header">Mikita Illin</h3>
                    <p>Team optimist</p>
                    <a class="link-git" href="https://github.com/nkpn">
                        <svg class="icon-git">
                            <use href="./images/team/team.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="default">
            <p class="team-name">Oksana Plyas - Developer</p>
            <div class="image-box">
                <div class="border"></div>
                <img class='photo' src="./images/team/plyas.jpg">
                <div class="image-content">
                    <h3 class="image-header">Oksana Plyas</h3>
                    <p>Almost optimist</p>
                    <a class="link-git" href="https://github.com/playsoksana">
                        <svg class="icon-git">
                            <use href="./images/team/team.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="default">
            <p class="team-name">Yulia Shcherban - Developer</p>
            <div class="image-box">
                <div class="border"></div>
                <img class='photo' src="#">
                <div class="image-content">
                    <h3 class="image-header">Yulia Shcherban</h3>
                    <p>The person who can do everything</p>
                    <a class="link-git" href="https://github.com/Yulia82">
                        <svg class="icon-git">
                            <use href="./images/team/team.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
        </div>
               <div class="default">
            <p class="team-name">Olga Baturina - Developer</p>
            <div class="image-box">
                <div class="border"></div>
                <img class='photo' src="#">
                <div class="image-content">
                    <h3 class="image-header">Olga Baturina</h3>
                    <p>Cats => {return code}</p>
                    <a class="link-git" href="https://github.com/OlhaBaturina">
                        <svg class="icon-git">
                            <use href="./images/team/team.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="default">
            <p class="team-name">Andrey Belinsky - Developer</p>
            <div class="image-box">
                <div class="border"></div>
                <img class='photo' src="#">
                <div class="image-content">
                    <h3 class="image-header">Andrey Belinsky</h3>
                    <p>Always positive</p>
                    <a class="link-git" href="https://github.com/andriko21">
                        <svg class="icon-git">
                            <use href="./images/team/team.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="default">
            <p class="team-name">Dmitry Mikheenko - Developer</p>
            <div class="image-box">
                <div class="border"></div>
                <img class='photo' src="#">
                <div class="image-content">
                    <h3 class="image-header">Dmitry Mikheenko</h3>
                    <p>Soccer lover</p>
                    <a class="link-git" href="https://github.com/mikheenko-d-s">
                        <svg class="icon-git">
                            <use href="./images/team/team.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="default">
            <p class="team-name">Karina Skrypka - Developer</p>
            <div class="image-box">
                <div class="border"></div>
                <img class='photo' src="#">
                <div class="image-content">
                    <h3 class="image-header">Karina Skrypka</h3>
                    <p>The busy</p>
                    <a class="link-git" href="https://github.com/KarinaSkrypka">
                        <svg class="icon-git">
                            <use href="./images/team/team.svg#icon-github"></use>
                        </svg></a>
                </div>
            </div>
        </div>
    </section>
    <button class="film-modal-close team-close" type="button">
        <svg class="icon-close" width="14" height="14">
            <use href="./images/sprite.svg#icon-modal-close"></use>
        </svg>
    </button>
</div>